<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} Crooserz. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://facebook.com" class="facebook-bg" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com" class="twitter-bg" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://google.com" class="google-bg" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://linkedin.com" class="linkedin-bg" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <p>Made by Saumya and Anshuman</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
